<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_prueba"
              name="Primer Módulo"
              sequence="0"
              web_icon="addon_prueba,static/description/arg.png"
    />
    <menuitem id="menu_detalle_personas"
              parent="menu_prueba"
              name="Detalle Personas"
              sequence="2"
    />
    <menuitem id="menu_oportunidades"
              parent="menu_prueba"
              name="Oportunidades"
              sequence="1"
    />
    <menuitem id="menu_configuracion"
              parent="menu_prueba"
              name="Configuracion"
              sequence="3"
    />



</odoo>