<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_personas"
              name="Personas"
              sequence="0"
              web_icon="addon_prueba,static/description/cids.png"
    />

    <menuitem id="menu_estados"
              parent="menu_personas"
              name="Estados"
              sequence="0"
    />



</odoo>